<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/assets/styles.css">

<head></head>
<style>
</style>

<body>
  <% include partials/nav.ejs %>

    <h1>Contact, tiangou</h1>
    <h1> Thanks for getting in touch!</h1>
    <p> You contacted
      <%= data.who %> in the
        <%= data.dpt%>
    </p>
    <p> We will reply to you at
      <%= data.email %> soon
    </p>
</body>

</html>